<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light">Introduction to JSP</a>
            <a class="list-group-item list-group-item-action bg-light">JSP Life Cycle</a>
            <a class="list-group-item list-group-item-action bg-light">Web content with JSP</a>
            <a class="list-group-item list-group-item-action bg-light">Scripting elements</a>
            <a class="list-group-item list-group-item-action bg-light">Scriptlet</a>
            <a class="list-group-item list-group-item-action bg-light">Declaration</a>
            <a class="list-group-item list-group-item-action bg-light">Expression</a>
            <a class="list-group-item list-group-item-action bg-light">XML for JSP elements</a>
            <a class="list-group-item list-group-item-action bg-light">Directives page,include and taglib</a>
            <a class="list-group-item list-group-item-action bg-light">JSP implicit objects</a>
            <a class="list-group-item list-group-item-action bg-light">JSP scopes</a>
            <a class="list-group-item list-group-item-action bg-light">Include and Forward mechanism</a>
            <a class="list-group-item list-group-item-action bg-light">Using a Java bean in a JSP</a>
            <a class="list-group-item list-group-item-action bg-light">Custom Tag Development</a>
            <a class="list-group-item list-group-item-action bg-light">Error Handling in a JSP</a>
            <a class="list-group-item list-group-item-action bg-light">JSTL</a>
            <a class="list-group-item list-group-item-action bg-light">Expression Language</a>
            
        </div>
    </div>
    <div class="container-fluid">
        <div class="">
            <h1 class="mt-4">Introduction to Angular Js</h1>
        </div>


    </div>
</div>
<app-footer></app-footer>