<div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a (click)="JSIntroduction()" class="list-group-item list-group-item-action bg-light">JavaScript
                Introduction</a>
            <a (click)="JSWhereTo()" class="list-group-item list-group-item-action bg-light">JavaScript Where To</a>
            <a (click)="JSOut()" class="list-group-item list-group-item-action bg-light">JavaScript Output</a>
            <a (click)="JSStatement()" class="list-group-item list-group-item-action bg-light">JavaScript Statements</a>
            <a (click)="JSSyntax()" class="list-group-item list-group-item-action bg-light">JavaScript Syntax</a>
            <a (click)="JSComment()" class="list-group-item list-group-item-action bg-light">JavaScript Comments</a>
            <a (click)="JSVariable()" class="list-group-item list-group-item-action bg-light">JavaScript Variables</a>
            <a (click)="JSOperator()" class="list-group-item list-group-item-action bg-light">JavaScript Operators</a>
            <a (click)="JSArithmetic()" class="list-group-item list-group-item-action bg-light">JavaScript
                Arithmetic</a>
            <a (click)="JSAssignment()" class="list-group-item list-group-item-action bg-light">JavaScript
                Assignment</a>
            <a (click)="JSDataTypes()" class="list-group-item list-group-item-action bg-light">JavaScript Data Types</a>
            <a (click)="JSFunction()" class="list-group-item list-group-item-action bg-light">JavaScript Functions</a>
            <a (click)="JSObjects()" class="list-group-item list-group-item-action bg-light">JavaScript Objects</a>
            <a (click)="JSEvents()" class="list-group-item list-group-item-action bg-light">JavaScript Events</a>
            <a (click)="JSStrings()" class="list-group-item list-group-item-action bg-light">JavaScript Strings</a>
            <a (click)="JSStringsMethods()" class="list-group-item list-group-item-action bg-light">JavaScript String
                Methods</a>
            <a (click)="JSNumbers()" class="list-group-item list-group-item-action bg-light">JavaScript Numbers</a>
            <a (click)="JSNumbersMethods()" class="list-group-item list-group-item-action bg-light">JavaScript Number
                Methods</a>
            <a (click)="JSArrays()" class="list-group-item list-group-item-action bg-light">JavaScript Arrays</a>
            <a (click)="JSArraysMethods()" class="list-group-item list-group-item-action bg-light">JavaScript Array
                Methods</a>
            <a (click)="JSSortingArrays()" class="list-group-item list-group-item-action bg-light">JavaScript Sorting
                Arrays</a>
            <a (click)="JSArrayIteration()" class="list-group-item list-group-item-action bg-light">JavaScript Array
                Iteration Methods</a>
            <a (click)="JSDataObject()" class="list-group-item list-group-item-action bg-light">JavaScript Date
                Objects</a>
            <a (click)="JSDataFormats()" class="list-group-item list-group-item-action bg-light">JavaScript Date
                Formats</a>
            <a (click)="JSGetDataMethods()" class="list-group-item list-group-item-action bg-light">JavaScript Get Date
                Methods</a>
            <a (click)="JSSetDataMethods()" class="list-group-item list-group-item-action bg-light">JavaScript Set Date
                Methods</a>
            <a (click)="JSMathObject()" class="list-group-item list-group-item-action bg-light">JavaScript Math
                Object</a>
            <a (click)="JSRandom()" class="list-group-item list-group-item-action bg-light">JavaScript Random</a>
            <a (click)="JSBooleans()" class="list-group-item list-group-item-action bg-light">JavaScript Booleans</a>
            <a (click)="JSComparisonLogical()" class="list-group-item list-group-item-action bg-light">JavaScript
                Comparison and Logical Operators</a>
            <a (click)="JSIfElse()" class="list-group-item list-group-item-action bg-light">JavaScript if else and else
                if</a>
            <a (click)="JSSwitch()" class="list-group-item list-group-item-action bg-light">JavaScript Switch
                Statement</a>
            <a (click)="JSForLoop()" class="list-group-item list-group-item-action bg-light">JavaScript For Loop</a>
            <a (click)="JSWhileLoop()" class="list-group-item list-group-item-action bg-light">JavaScript While Loop</a>
            <a (click)="JSBreakContinue()" class="list-group-item list-group-item-action bg-light">JavaScript Break and
                Continue</a>
            <a (click)="JSTypeConversion()" class="list-group-item list-group-item-action bg-light">JavaScript Type
                Conversion</a>
            <a (click)="JSBitwise()" class="list-group-item list-group-item-action bg-light">JavaScript Bitwise
                Operations</a>
            <a (click)="JSRegular()" class="list-group-item list-group-item-action bg-light">JavaScript Regular
                Expressions</a>
            <a (click)="JSThrowTryCatch()" class="list-group-item list-group-item-action bg-light">JavaScript Errors -
                Throw and Try to Catch</a>
            <a (click)="JSScope()" class="list-group-item list-group-item-action bg-light">JavaScript Scope</a>
            <a (click)="JSHoisting()" class="list-group-item list-group-item-action bg-light">JavaScript Hoisting</a>
            <a (click)="JSUseScrict()" class="list-group-item list-group-item-action bg-light">JavaScript Use Strict</a>
            <a (click)="JSThisKeyword()" class="list-group-item list-group-item-action bg-light">JavaScript this
                Keyword</a>
            <a (click)="JSLet()" class="list-group-item list-group-item-action bg-light">JavaScript Let</a>
            <a (click)="JSConst()" class="list-group-item list-group-item-action bg-light">JavaScript Const</a>
            <a (click)="JSArrowFunction()" class="list-group-item list-group-item-action bg-light">JavaScript Arrow
                Function</a>
            <a (click)="JSClasses()" class="list-group-item list-group-item-action bg-light">JavaScript Classes</a>
            <a (click)="JSDebugging()" class="list-group-item list-group-item-action bg-light">JavaScript Debugging</a>
            <a (click)="JSStyleCoding()" class="list-group-item list-group-item-action bg-light">JavaScript Style Guide
                and Coding Conventions</a>

            <a (click)="JSBestPractices()" class="list-group-item list-group-item-action bg-light">JavaScript Best
                Practices</a>
            <a (click)="JSCommonMistakes()" class="list-group-item list-group-item-action bg-light">JavaScript Common
                Mistakes</a>
            <a (click)="JSPerformance()" class="list-group-item list-group-item-action bg-light">JavaScript
                Performance</a>
            <a (click)="JSReservedWords()" class="list-group-item list-group-item-action bg-light">JavaScript Reserved
                Words</a>
            <a (click)="JSVersions()" class="list-group-item list-group-item-action bg-light">JavaScript Versions</a>
            <a (click)="JSECMAScript5()" class="list-group-item list-group-item-action bg-light">ECMAScript 5 -
                JavaScript 5</a>
            <a (click)="JSECMAScript6()" class="list-group-item list-group-item-action bg-light">ECMAScript 6 -
                ECMAScript 2015</a>
            <a (click)="JSJson()" class="list-group-item list-group-item-action bg-light">JavaScript JSON</a>

        </div>
    </div>
    <div class="container-fluid">

        <div class="introduction" *ngIf="introduction">
            <h1 class="mt-4">JavaScript Introduction</h1>
        </div>

        <div class="whereto" *ngIf="whereto">
            <h1 class="mt-4">JavaScript Where To</h1>
        </div>

        <div class="output" *ngIf="output">
            <h1 class="mt-4">JavaScript Output</h1>
        </div>

        <div class="statements" *ngIf="statements">
            <h1 class="mt-4">JavaScript Statements</h1>
        </div>

        <div class="syntax" *ngIf="syntax">
            <h1 class="mt-4">JavaScript Syntax</h1>
        </div>

        <div class="comments" *ngIf="comments">
            <h1 class="mt-4">JavaScript Comments</h1>
        </div>

        <div class="variables" *ngIf="variables">
            <h1 class="mt-4">JavaScript Variables</h1>
        </div>

        <div class="operators" *ngIf="operators">
            <h1 class="mt-4">JavaScript Operators</h1>
        </div>

        <div class="arithmetic" *ngIf="arithmetic">
            <h1 class="mt-4">JavaScript Arithmetic</h1>
        </div>

        <div class="assignment" *ngIf="assignment">
            <h1 class="mt-4">JavaScript Assignment</h1>
        </div>

        <div class="datatypes" *ngIf="datatypes">
            <h1 class="mt-4">JavaScript Data Types</h1>
        </div>

        <div class="functions" *ngIf="functions">
            <h1 class="mt-4">JavaScript Functions</h1>
        </div>

        <div class="objects" *ngIf="objects">
            <h1 class="mt-4">JavaScript Objects</h1>
        </div>

        <div class="events" *ngIf="events">
            <h1 class="mt-4">JavaScript Events</h1>
        </div>


        <div class="strings" *ngIf="strings">
            <h1 class="mt-4">JavaScript Strings</h1>
        </div>

        <div class="stringmethods" *ngIf="stringmethods">
            <h1 class="mt-4">JavaScript String Methods</h1>
        </div>

        <div class="numbers" *ngIf="numbers">
            <h1 class="mt-4">JavaScript Numbers</h1>
        </div>

        <div class="numbermethods" *ngIf="numbermethods">
            <h1 class="mt-4">JavaScript Number Methods</h1>
        </div>

        <div class="arrays" *ngIf="arrays">
            <h1 class="mt-4">JavaScript Arrays</h1>
        </div>

        <div class="arraymethods" *ngIf="arraymethods">
            <h1 class="mt-4">JavaScript Array Methods</h1>
        </div>

        <div class="sortingarrays" *ngIf="sortingarrays">
            <h1 class="mt-4">JavaScript Sorting Arrays</h1>
        </div>

        <div class="arrayiteration" *ngIf="arrayiteration">
            <h1 class="mt-4">JavaScript Array Iteration Methods</h1>
        </div>

        <div class="dateobjects" *ngIf="dateobjects">
            <h1 class="mt-4">JavaScript Date Objects</h1>
        </div>

        <div class="dateformats" *ngIf="dateformats">
            <h1 class="mt-4">JavaScript Date Formats</h1>
        </div>

        <div class="getdate" *ngIf="getdate">
            <h1 class="mt-4">JavaScript Get Date Methods</h1>
        </div>

        <div class="setdate" *ngIf="setdate">
            <h1 class="mt-4">JavaScript Set Date Methods</h1>
        </div>

        <div class="mathobject" *ngIf="mathobject">
            <h1 class="mt-4">JavaScript Math Object</h1>
        </div>

        <div class="random" *ngIf="random">
            <h1 class="mt-4">JavaScript Random</h1>
        </div>

        <div class="booleans" *ngIf="booleans">
            <h1 class="mt-4">JavaScript Booleans</h1>
        </div>

        <div class="comparisonlogical" *ngIf="comparisonlogical">
            <h1 class="mt-4">JavaScript Comparison and Logical Operators</h1>
        </div>

        <div class="ifelse" *ngIf="ifelse">
            <h1 class="mt-4">JavaScript if else and else if</h1>
        </div>

        <div class="switch" *ngIf="switch">
            <h1 class="mt-4">JavaScript Switch Statement</h1>
        </div>

        <div class="for" *ngIf="for">
            <h1 class="mt-4">JavaScript For Loop</h1>
        </div>

        <div class="while" *ngIf="while">
            <h1 class="mt-4">JavaScript While Loop</h1>
        </div>

        <div class="breakcontinue" *ngIf="breakcontinue">
            <h1 class="mt-4">JavaScript Break and Continue</h1>
        </div>

        <div class="typeconversion" *ngIf="typeconversion">
            <h1 class="mt-4">JavaScript Type Conversion</h1>
        </div>

        <div class="bitwiseoperations" *ngIf="bitwiseoperations">
            <h1 class="mt-4">JavaScript Bitwise Operations</h1>
        </div>

        <div class="regularexpressions" *ngIf="regularexpressions">
            <h1 class="mt-4">JavaScript Regular Expressions</h1>
        </div>

        <div class="throwtrycatch" *ngIf="throwtrycatch">
            <h1 class="mt-4">JavaScript Errors - Throw and Try to Catch</h1>
        </div>

        <div class="scope" *ngIf="scope">
            <h1 class="mt-4">JavaScript Scope</h1>
        </div>

        <div class="hoisting" *ngIf="hoisting">
            <h1 class="mt-4">JavaScript Hoisting</h1>
        </div>

        <div class="usestrict" *ngIf="usestrict">
            <h1 class="mt-4">JavaScript Use Strict</h1>
        </div>

        <div class="thiskeyword" *ngIf="thiskeyword">
            <h1 class="mt-4">JavaScript This Keyword</h1>
        </div>

        <div class="lets" *ngIf="lets">
            <h1 class="mt-4">JavaScript Let</h1>
        </div>

        <div class="const" *ngIf="const">
            <h1 class="mt-4">JavaScript Const</h1>
        </div>

        <div class="arrow" *ngIf="arrow">
            <h1 class="mt-4">JavaScript Arrow Function</h1>
        </div>

        <div class="classes" *ngIf="classes">
            <h1 class="mt-4">JavaScript Classes</h1>
        </div>

        <div class="debugging" *ngIf="debugging">
            <h1 class="mt-4">JavaScript Debugging</h1>
        </div>

        <div class="styleguidecoding" *ngIf="styleguidecoding">
            <h1 class="mt-4">JavaScript Style Guide and Coding Conventions</h1>
        </div>

        <div class="bestpractices" *ngIf="bestpractices">
            <h1 class="mt-4">JavaScript Best Practices</h1>
        </div>

        <div class="commonmistakes" *ngIf="commonmistakes">
            <h1 class="mt-4">JavaScript Common Mistakes</h1>
        </div>

        <div class="performance" *ngIf="performance">
            <h1 class="mt-4">JavaScript Performance</h1>
        </div>

        <div class="reservedwords" *ngIf="reservedwords">
            <h1 class="mt-4">JavaScript Reserved Words</h1>
        </div>

        <div class="versions" *ngIf="versions">
            <h1 class="mt-4">JavaScript Versions</h1>
        </div>

        <div class="ecmascript5" *ngIf="ecmascript5">
            <h1 class="mt-4">ECMAScript 5 - JavaScript 5</h1>
        </div>

        <div class="ecmascript6" *ngIf="ecmascript6">
            <h1 class="mt-4">ECMAScript 6 - ECMAScript 2015</h1>
        </div>

        <div class="json" *ngIf="json">
            <h1 class="mt-4">JavaScript JSON</h1>
        </div>


    </div>
</div>
<app-footer></app-footer>
