<p class="home">Guruji website Basically Develop for Education purpose.Where Student,beginner and Professional can learn
    technology in better way. Programs content are base on real time example.</p>

<div class="container mt-40">
    <h3 class="technology">Technologies</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box14">
                <img src="assets/images/corejava.png" alt="">
                <div class="box-content">
                    <ul class="icon">
                        <li><a href="corejava">Core Java</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box14">
                <img src="assets/images/javajdbc.png" alt="">
                <div class="box-content">
                    <ul class="icon" style="margin-left: 40px;">
                        <li><a href="jdbc">Jdbc</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box14">
                <img src="assets/images/javaservlet.png" alt="">
                <div class="box-content">
                    <ul class="icon" style="margin-left: 35px;">
                        <li><a href="servlet">Servlet</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h1></h1>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box14">
                <img src="assets/images/jsp.png" alt="">
                <div class="box-content">
                    <ul class="icon" style="margin-left: 40px;">
                        <li><a href="jsp">Jsp</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box14">
                <img src="assets/images/hibernate.png" alt="">
                <div class="box-content">
                    <ul class="icon" style="margin-left: 15px;">
                        <li><a href="hibernate">Hibernate</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box14">
                <img src="assets/images/spring.png" alt="">
                <div class="box-content">
                    <ul class="icon" style="margin-left: 35px;">
                        <li><a href="spring">Spring</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>